<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="nav">
    <ul id="navlist">
      <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
          <li><a href="/random-beer">Random Beers</a></li>
    </ul>
    </div>
    {{{body}}}
  </body>
</html>
